* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

main {

  /* Adjust the width of the main content 
  width: calc(100% - 140px);
  margin:auto;*/


  margin: 28px;
}

header {
  text-align: right;
 
  margin-left: 50%;
}



h1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 3rem;
}

h2 {
  grid-column: span 2;
  /* Span both columns */

  font-size: 1.7em;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  grid-column: span 2;
  /* Span both columns */
  width: 50%;
  font-size: 1.6em;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption .a2-fig1 {
  grid-column: span 2;
  /* Span both columns */
  width: 50%;

}

figcaption {
  width: 80%;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Cormorant Garamond', serif;


}


.main-flex-container{
  display:grid;
  grid-template-columns: auto auto;


}

aside {
  width: 100px;
  background-image: url("../images/SVG/FilaB.svg");
  background-repeat: repeat-y;
  background-size: contain;
  cursor: pointer;
}

.article2-intro {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  margin-bottom: 80px;
}
.article2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
  margin-bottom: 80px;
}

img {
  width: 80%;
  height: auto;
  margin: auto;
}

#a2-fig1 {

  width: 90%;
  margin: 10px;

}

#imgA {
  margin: auto;
  width: 90%;
  margin-left: 60px;
}

#fig1Div {
  margin-top: 25%;
}

.fig4-5 {
  margin-bottom: 50px;
}

.fig6-7 {
  margin: auto;
}

.article2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  margin: 20px;
}

.article2-3-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  margin: 20px;
}

.article2-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

.article2-5 {
  width: 50%;
  margin: 20px;
}

.article2-6 {

  width: 50%;
  margin: 20px;
}

footer {
  text-align: center;
  background-color: grey;
}

a {
  display: block;
}

.flex-container {
  display: flex;
  text-wrap: wrap;
}

footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(195, 197, 199, 0.6);
  height: 80px;
  margin: 5px 0px 0px 0px;
}

footer p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 12px;
  margin: auto;
  width: 100px;
  line-height: normal;
}

.readMoreStyle {
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.8em;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.readMoreStyle:hover {
  font-weight: 900;
}

#logo {
  width: auto;
  height: 80%;
  margin: 10px;
}

section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

section.article2-intro {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

/* grid of 1 column if in a mobile device*/
@media screen and (max-width: 620px) {

  header {
    margin-left: 10%
  }

  p {
    font-size: 0.75em;
    line-height: 1.5em;
  }


  figcaption{
    font-size: 0.6em;
    font-style: italic;

  }

  .article2-intro,
  .article2-2,
  .article2-3,
  .article2-4,
  .article2-3-1 {
    display: inline;
    grid-template-columns: 1fr;
    margin-top: 0px;
  }

  h1{
    font-size: 1.3em;
     line-height: 1.2em;
     margin-top: 20px;
  }

  h2{
    font-size: 1em; 
    line-height: 1.5em;
    margin-top: 40px;
  }

  h3 {
    font-size: 0.9em;
    width: 100%;
    margin-top: 30px;
  }
  .main-flex-container{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  .readMoreStyle {
    font-size: 0.6em;
  }

  aside {
    width: 40px;
    background-position: left 0px;
    background-size: contain;
    background-clip:content-box;
  }
  
  main {
    /*   Adjust the width of the main content */
     
     margin: 10px;
     width: calc(100% - 40px);
   }

  footer{
    height: 30px;
  

}
footer p{
   font-size: 0.5em;
}
}